<div class="d-inline-flex border border-primary row m-1">
  <div class="col-12 d-inline-flex bg-primary text-secondary text-center">
    <%= order.id %>
    <%= order.item %>
    <%= order.user %>
  </div>
  <div class="col-12 bg-secondary ">
    <div class="">
      <h2>
        <%= order.item.name %>
      </h2>
      <div class="align-self-center">
        R$<%= order.item.price %>
      </div>
    </div>
  </div>
</div>
