<h1>Welcome to StationMarketPlace</h1>
<p>Logged in as: <%= current_user.username %> | <%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
<p><%= link_to "Add New Item", new_item_path %></p>
<p>You have discount if you support Flamengo!</p>

<h2>Available Items</h2>
<% @items.each do |item| %>
  <div>
    <% if item.photo.attached? %>
      <%= cl_image_tag item.photo.key, width: 150, height: 150, crop: :fill %>
    <% end %>
    <h3><%= item.name %> (<%= item.categories %>)</h3>
    <p><%= item.description %></p>
    <p>Price: <%= number_to_currency(item.price, unit: "R$") %></p>
    <%= link_to "View Details", item_path(item) %>
  </div>
<% end %>

