<div class="container text-center">
  <h1>Welcome to StationMarketPlace</h1>
  <p>Logged in as: <%= current_user.username %> | <%= button_to "Logout", destroy_user_session_path, method: :delete %></p>
  <p><%= link_to "Add New Item", new_item_path, class: "btn btn-primary" %></p>
  <p>You have discount if you support Flamengo!</p>

  <h2>
    <%= link_to "Your Requirements", item_orders_path(1) %> <%# change this later!!!! %>
  </h2>

  <div>
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: items_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Search..."
            %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>

  <h2>Available Items</h2>
  <div class="container">
    <%= render "items/shared/itemslist", items: @items %>
  </div>
</div>
