
<div class="container d-flex justify-content-center align-items-start min-vh-80 mt-4">
<div class="row w-100">
<div class="col-md-10 mx-auto" style="max-width: 900px;">
<div class="card border border-primary shadow-sm p-5">
<div class="card-body">
<h2 class="card-title mb-3 text-primary fw-bold" style="font-size: 1.8rem;">Item Details</h2>

<p class="mb-2 fs-5"><strong>Name:</strong> <%= @item.name %> (<%= @item.categories %>)</p>
<p class="mb-2 fs-5"><strong>Description:</strong> <%= @item.description %></p>
<p class="mb-2 fs-5"><strong>Price:</strong> <%= number_to_currency(@item.price, unit: "R$") %></p>


<div class="d-flex flex-wrap justify-content-center gap-3">
<%= link_to "Back to Marketplace", items_path, class: "btn btn-outline-success btn-lg" %>

<% if @user == @item.users_id %>
<%= link_to "Edit Item", edit_item_path(@item), class: "btn btn-outline-success btn-lg" %>
<% end %>

<%= button_to "Delete", item_path(@item), method: :delete,
data: { confirm: "Are you sure?" },
class: "btn btn-outline-danger btn-lg" %>

<%= button_to "Require", item_orders_path(@item),
data: { turbo_method: :post },
class: "btn btn-outline-success btn-lg" %>
</div>
</div>
</div>
</div>
</div>
</div>
