<h1>Item Details</h1>
<p><strong>Name:</strong> <%= @item.name %> (<%= @item.categories %>)</p>
<p><strong>Description:</strong> <%= @item.description %></p>
<p><strong>Price:</strong> <%= number_to_currency(@item.price, unit: "R$") %></p>
<p><strong>Created by:</strong> <%= @item.user.username %></p>
<%= link_to "Back to Marketplace", items_path %>
