<h1>Item Details</h1>
<p><strong>Name:</strong> <%= @item.name %> (<%= @item.categories %>)</p>
<p><strong>Description:</strong> <%= @item.description %></p>
<p><strong>Price:</strong> <%= number_to_currency(@item.price, unit: "R$") %></p>
<p><strong>Created by:</strong> <%= @item.user.username %></p>
<%= link_to "Back to Marketplace", items_path %>

<% if @user == @item.user.id %>
  <%= link_to "Edit item", edit_item_path(@item) %>
<% end %>

<% if @item.photo.attached? %>
  <%= image_tag @item.photo.variant(resize_to_limit: [300, 300]) %>
<% else %>
  <p>No image found 😔</p>
<% end %>
